---
import type { HTMLAttributes } from 'astro/types'
import { Icon } from 'astro-icon/components'

export interface Props extends HTMLAttributes<'button'> {
    icon?: {
        name: string
        location: 'left' | 'right'
    }
    slotClass?: string
    offset?: string
}

const { class: className, icon, offset = '0px', slotClass, ...rest } = Astro.props

const classList = ['btn', 'flex items-center gap-2', className]
---

<button class:list={classList} {...rest}>
    {icon?.location === 'left' && <Icon name={icon.name!} style={`margin-bottom: ${offset}`} />}
    {
        Object.keys(Astro.slots).length > 0 && (
            <div class:list={[slotClass]}>
                <slot />
            </div>
        )
    }
    {icon?.location === 'right' && <Icon name={icon.name!} style={`margin-bottom: ${offset}`} />}
</button>