---
import Picture from "astro/components/Picture.astro"
import TeamPhoto from "@/assets/team/pit.png"
---
<section>
    <h2>Be Inspired, Inspire Others</h2>
    <p class="subheading italic">FRC Team 4087 - Voodoo Voltage</p>
    <Picture 
        src={TeamPhoto}
        alt={"Team photo"}
        layout="full-width"
        position="center"
        pictureAttributes={{
            class: "block max-w-2xl mx-auto my-4"
        }}
        class="mx-auto"
    />

    <div class="prose mx-auto">
        <p>
            Team 4087 (Voodoo Voltage) is a student-led robotics team founded in 2012 out of 
            <a href="https://www.bfhsla.org/" style="link link-primary">Benjamin Franklin High School (BFHS)</a> in New Orleans, Louisiana, USA.
        </p>
        <p>
            We compete in the international <a href="https://www.firstinspires.org/robotics/frc" style="link link-primary">FIRST Robotics Competition (FRC)</a>, 
            where we design, build, and program industrial-grade robots. 
        </p>
        <p>
            We aim to empower students through STEM and contribute to a FIRST community that creates opportunities to 
            expand knowledge, benefit society, and inspire the world through discovery and innovation.
        </p>
        <div class="flex items-center justify-center mx-auto mt-8">
            <a class="btn btn-primary" href="/join/">
                Learn How To Join 4087 →
            </a>
        </div>
    </div>
</section>