---
import Picture from "astro/components/Picture.astro";
import Larry from '@/assets/larry/larry-wide.png'
---
<section>
    <h2>Meet Larry! 🦞</h2>
    <p class="subheading italic">The World's Highest-Scoring L1 Robot</p>
    <div class="prose mx-auto mt-4 text-justify">
        <p>
        Say hello to Larry - our 2025 robot and honorary team member! Built for <a href="https://firstfrc.blob.core.windows.net/frc2025/Manual/2025GameManual.pdf" class="link link-primary">the REEFSCAPE game</a>,
        Larry specializes in scoring Coral (pieces of PVC pipe) into a trough at a rapid rate.
        </p>
    </div>
    <Picture
        src={Larry}
        alt="Larry the robot playing Reefscape in 2025"
        layout="constrained"
        fit="scale-down"
        pictureAttributes={{
            class: 'block mt-4 w-full max-w-3xl mx-auto'
        }}
        class={"w-full"}
    />
    <div class="overflow-x-auto w-full max-w-3xl mx-auto">
        <table class="table table-zebra min-w-max">
            <caption class="prose prose-sm mt-2 mx-auto caption-bottom text-justify">
                Expected Points Added (EPA) is a point-scoring metric computed based on match performance used to estimate how a team 
                contributes to their alliance's score. Data and EPA model from <a href="https://www.statbotics.io/teams#breakdown" class="link">Statbotics</a>.
            </caption>
            <thead>
                <tr>
                    <th class="text-center">L1 Coral Rank</th>
                    <th class="text-left">Name</th>
                    <th class="text-center">Coral L1</th>
                    <th class="text-center">Total Points</th>
                    <th class="text-center">Endgame Points</th>
                </tr>
            </thead>
            <tbody>
                <tr class="font-bold bg-info text-info-content">
                    <td class="text-center">#1</td>
                    <td>Voodoo Voltage</td>
                    <td class="text-center">12.2</td>
                    <td class="text-center">37.8</td>
                    <td class="text-center">9</td>
                </tr>
                <tr>
                    <td class="text-center">#2</td>
                    <td>Gator Gears</td>
                    <td class="text-center">11.9</td>
                    <td class="text-center">41.6</td>
                    <td class="text-center">2.2</td>
                </tr>
                <tr>
                    <td class="text-center">#3</td>
                    <td>Tower Robotics</td>
                    <td class="text-center">11.2</td>
                    <td class="text-center">49.4</td>
                    <td class="text-center">9.8</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>