---
import "@/assets/global.css";
import { ClientRouter } from 'astro:transitions'
import Nav from "@/page-components/common/Nav.astro"
import { Font } from 'astro:assets';

export interface Props {
    title: string
	class?: string
}
const { title, class: className } = Astro.props
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${title} | FRC Team 4087`}</title>
		<ClientRouter />
		<Font cssVariable='--font-lexend' preload />
	</head>
	<body class="relative">
		<Nav/>
		<main class:list={["max-w-7xl mx-auto block mt-16 mb-8 px-4", className]}>
			<slot/>
		</main>
		<footer class:list={["max-w-7xl mx-auto block my-8 px-4 text-base-content/70"]}>
			<div>© 2025 VoodooVoltage
			</div>
			<div>
				<a href="https://www.bfhsla.org/">Benjamin Franklin High School</a>
			</div>
			<div><a href="/sitemap-index.xml">Sitemap</a></div>
		</footer>
		<slot name="templates" />
	</body>
</html>

